---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
	title: string;
    description?: string;
}

const { title, description = "agentic coding 시대에 적응하기 위해 11가지 앱을 1년 동안 서비스 운영이 가능한 수준으로 개발하는 것을 시도해보려고 합니다." } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white text-gray-900 antialiased min-h-screen flex flex-col">
		<Header />
        <main class="flex-1 w-full max-w-4xl mx-auto px-4 sm:px-8 py-8">
		    <slot />
        </main>
		<Footer />
	</body>
</html>
